@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.container {
    width: 100%;
    margin: 0 auto;
    outline: 2px solid red;
}

.content-center {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    /*outline: 1px solid #fff;*/
}

.btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
}

.link {
    text-decoration: none;
}

.list-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.page-header {
    height: 75px;
    background-color: #222222;
    align-items: center;
    display: flex;
}

.page-header svg {
    display: block;
    width: 100%;
    height: 100%;
}

.page-header-list button:hover {
    fill: orange;
}

.page-header-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.page-header-list-left {
    width: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list__logo {
    display: block;
    width: 44px;
    height: 38px;
    text-decoration: none;
}

.header-list__logo img {
    width: 100%;
    height: 100%;
}

.header-list__search {
    width: 26px;
    height: 26px;
}

.header-list__search svg {
    fill: #fff;
}

.header-list__menu {
    width: 32px;
    height: 23px;
}

.header-list__menu svg {
    fill: #fff;
}

input:checked~.header-menu-list {
    visibility: hidden;
    ;
}

#check {
    display: none;
}

.header-menu-list {
    /*outline: 1px solid red;*/
    list-style-type: none;
    padding: 37px 0 0 34px;
    width: 232px;
    background-color: #fff;
    position: absolute;
    top: 43px;
    right: -200px;
    text-align: left;
}

.header-menu-list__menu {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
    margin-bottom: 24px;
}

.header-menu-list__categories {
    text-decoration: none;
    text-transform: uppercase;
    margin: 20px 0 12px 33px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #F16D7F;
    list-style-type: none;
}

.header-menu-list__item {
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #6F6E6E;
    margin: 0 0 11px 54.5px;

}

.header-list__account {
    width: 29px;
    height: 29px;
}

.header-list__account svg {
    fill: #fff;
}

.header-list__basket {
    width: 32px;
    height: 29px;
    position: relative;
}

.header-list__basket:hover svg {
    fill: orange;
}

.header-list__basket svg {
    fill: #fff;
}

.header-list__basket span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    background-color: #f16d7f;
    border-radius: 50%;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    position: absolute;
    top: -8px;
    right: -10px;
}

.poster {
    width: 100%;
    background-color: #f1e4e6;
    margin-bottom: 65px;
}

.poster-img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 764px;
    background-image: url(../img/poster-img.png);
    background-repeat: no-repeat;
    background-position: -226px bottom;
}

.poster-img-box {
    margin: 0 0 8% 49%;
    position: relative;
}

.poster-img-box::before {
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    position: absolute;
    top: 2px;
    left: -29px;
}

.poster-img-box__title {
    margin: 0;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
}

.poster-img-box__subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    text-transform: uppercase;
}

.poster-subtitle span {
    color: #f16d7f;
}

.categories-header {
    visibility: hidden;
}

.categories li {
    width: 100%;
    max-width: 360px;
    min-height: 260px;
}

.categories li:last-child,
.categories li:last-child a {
    max-width: 100%;
    min-height: 180px;
}

/*.categories-list{}*/
.categories-link {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 360px;
    min-height: 260px;
    margin-bottom: 30px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.categories-link p,
.categories-link h3 {
    margin: 0;
}

.categories-list__woman {
    background-image: url(../img/categories-woman.jpg);
}

.categories-list__woman:hover {
    background-blend-mode: normal;
}

.categories-list__man {
    background-image: url(../img/categories-man.jpg);
}

.categories-list__man:hover {
    background-blend-mode: normal;
}

.categories-list__kids {
    background-image: url(../img/categories-kids.jpg);
}

.categories-list__kids:hover {
    background-blend-mode: normal;
}

.categories-list__accesories {
    background-image: url(../img/categories-accesories.jpg);
    width: 100%;
}

.categories-list__accesories:hover {
    background-blend-mode: normal;
}

.categories-subtitle,
.categories-title {
    margin: 0%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.categories-subtitle {
    color: #fff;
    line-height: 19.2px;
}

.categories-title {
    color: #f16d7f;
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
}

.product {
    padding-top: 66px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    outline: 1px solid #222222;
}

.product-heading {
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    color: #222222;
    margin-bottom: 6px;
}

.product-heading-text {
    text-align: center;
    margin-bottom: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #9F9F9F;
}

/*.product-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}*/
.list-position li {
    max-width: 360px;
    color: #222222;
}

.product-link {
    text-decoration: none;
    min-height: 581px;
}

.product-box-item {
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    text-align: left;
    position: relative;
}

.product-box-text {
    width: 100%;
}

.product-box-item-heading {
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    color: #000000;
}

.product-box-item-text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;
}

.product-box-item-price {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
}

.products-item-btn {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 38.3%;
    min-height: 43px;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 188px;
    left: 32.7%;
}

.products-item-btn svg {
    fill: #fff;
    margin: 0 11px 0 0;
}

.product-box-item:hover .products-item-btn {
    display: flex;
}

.product-box-item:hover .products-item-btn:hover {
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
}

.product-box-item:hover .products-item-btn:hover svg {
    fill: #000;
}

.pproduct-box-item:hover .products-item-btn:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.product-box-item-item:hover .products-item-btn:active svg {
    fill: #fff;
}

.product-box-item:hover .products-item-photo {
    filter: brightness(50%);
}

.product-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    max-width: 211px;
    /*в браузере размеры меньше*/
    min-height: 47px;
    border: #ff6a6a solid 1px;
    line-height: 19px;
    font-weight: 400;
    font-size: 16px;
    color: #f26376;
    background-color: #fff;
    word-break: break-all;
}

.product-btn:hover {
    color: #fff;
    background-color: #f26376;
}

.product-btn :active {
    color: #f26376;
    background-color: #fff;
    border: 1px solid #ccc;
}

.footer-Benefits {
    min-height: 341px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #222224;

}

.footer-Benefits-link {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    /* list-style-type: none; */
    /*padding-top: 103px;изначально хотел сделать черех один паддинг на весь блок*/
}

.footer-Benefits-link:hover .footer-Benefits-link__icon {
    /* margin-top: 103px; */
    /* justify-content: center; */
    /* text-align: center; */
    /* width: 100%; */
}

.footer-Benefits-link__title {
    /* list-style-type: none; */
    margin-top: 23px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    /* identical to box height */
    color: #FBFBFB;
    /* text-align: center; */
}

.footer-Benefits-link__text {
    /* list-style-type: none; */
    font-family: 'Lato';
    font-style: l;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    /* text-align: center; */
    margin: 16px;
    color: #FBFBFB;
}

.footer-photo {
    min-height: 448px;
    max-width: 1600px;
    background-image: url(../img/fon-photo.jpg);
    /*background: rgba(244, 244, 244, 0.7);
    background-blend-mode: darken; сдесь попытка воспроизвести фото*/
    display: flex;
    opacity: 0.7;
}

.footer-photo-blend {
    min-height: 448px;
    max-width: 1600px;
    background-color: f4f4f4;
    opacity: 0.7;
}

.footer-photo-position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.footer-photo-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*не понял, почему не привязал данные свойства к footer-photo-quote-title*/
    text-align: center;
    /* width: 800px; */
    border: red solid 1px;
    /*рамки для отладки позиционирования*/
    align-items: center;
}

.footer-photo-quote-face {
    /* margin-top: 86px; */
}

.footer-photo-quote-title {
    max-width: 360px;
    margin-top: 30px;
    border: red solid 1px;
    justify-content: center;
    text-align: center;
    align-items: center;
    Font-family: Lato;
    Font-style: Mixed;
    Font-size: 20px;
    Line-height: 24px;
    Line-height: 100%;
    Align: Center Vertical;
    align: Top;
    Fill: Solid #222224;
}

.footer-photo__form {
    /* max-width: 800px; */
}

.footer__wrp {
    display: flex;
    background-color: #222224;
    min-height: 79px;
    justify-content: space-between;
}

.footer__wrp-copyright {
    font-family: Lato;
    font-style: Regular;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    /*Align: Left Vertical align: Top Fill:;*/
    color: #FBFBFB;
    border: red solid 1px;
    margin-top: 30px;
}

.footer__wrp-contacts {
    display: flex;
    text-decoration: none;
    margin-top: 24px;
    width: 148px;
    justify-content: space-between;
    border: red solid 1px;
    list-style-type: none;
}

.footer__wrp-contacts li {
    background-color: #ffffff;
    fill: #000000;
    width: 32px;
    height: 32px;
    /* display: block; */
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: red solid 1px;
}

.footer__wrp-contacts-link {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    background-color: #ffffff;
    fill: #000000;
    width: 32px;
    height: 32px;
    /* display: block; */
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: red solid 1px;
}

.footer-end-contacts li:hover {
    fill: #ffffff;
    background-color: #f16d7f;
}